<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{/getfile 'js' 'jquery-1.8.3.min'/}"></script>
<script type="text/javascript" src="{/getfile 'js' 'base'/}"></script>
<link type="text/css" href="{/getfile 'css' 'style'/}" rel="stylesheet">
<title>U易管理系统</title>
</head>

<body class="body">
<div class="div">
	<div class="wk">
    	<div class="top01">
        </div>
        <div class="middle">
        	<form action="{/geturl 'main/login' 'main'/}" method="post">
                <div class="middle_wk">
                    <div class="middle_sr">
                      <div class="middle_sr_left">姓 名：
                      </div>
                        <div class="middle_sr_right">
                        <input type="text" class="yc" name="staffname" autocomplete="off"/>
                      </div>
                    </div>
                  <div class="middle_sr02">
                      <div class="middle_sr_left">密 码：
                    </div>
                        <div class="middle_sr_right">
                            <input type="password" class="yc" name="password" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="dl">
                        <div class="dl_left"><a href="#"><img src="{/getpicurl 'dlan' 'png' 'bg'/}" width="128" height="34" /></a>
                        </div>
                        {/*<div class="dl_word"><a href="#">忘记密码？</a></div>*/}
                    </div>
              </div>
          </form>
        </div>
        <div class="sy_bottom">
            U易管理系统
        </div>
    </div>
</div>
</body>
</html>
