{/include 'common/header.html'/}
<div align="center" class="loginbody">
	<div class="logo"><img src="{/getpicurl 'logo' 'png' 'bg'/}"></div>
    <div class="loginbox">
        <form action="{/geturl 'main/login' 'main'/}" method="post">
            <div class="logininput">
                <p>登录名：<input type="text" name="staffname" class="w130"></p>
                <p>密码：<input type="password" name="password" class="w130"></p>
                <div><input type="submit" class="w60 h30" value="登录"></div>
            </div>
        </form>
        <div class="logincover"></div>
    </div>
</div>
{/include 'common/footer.html'/}