{/include 'common/header.html'/}
	<div class="wk">
    	<div class="xi">
        </div>
        <div class="xi_middle">
        {/if $staffLimit>0 /}
       	  {/include 'common/menu.html'/}
        {//if/}
          <div class="xi_middle_right">
            	<div class="xi_middle_right_top">添加积分项目</div>
                <div class="jfcl">
        <form action="{/geturl 'main/addclass' 'main'/}" method="post">
             <div class="w400">
                <div class="w130 textr left h30 vmiddle lineh30">父级名称</div>
                <div class="w270 textl left h30 vmiddle lineh30">：
                	<select name="parentId">
                    	<option value="0">无</option>
                        {/for $i=0,$j=count($classes); $i<$j; $i++/}
                        	{/$class = $classes[$i]/}
                            <option value="{/$class['class_id']/}">{/$class['class_name']/}</option>
                        {//for/}
                    </select>
                </div>
            </div>
            <div class="w400">
                <div class="w130 textr left h30 vmiddle lineh30">类型名称</div>
                <div class="w270 textl left h30 vmiddle lineh30">：<input type="text" class="w130" autocomplete="off" name="className"></div>
            </div>
        	
            <div class="w400" align="center">
                <input type="submit" value="提交" class="h30 w60"/>
            </div>
        </form>
                    </div>
          </div>
        </div>
{/include 'common/footer.html'/}