<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="{/getfile 'css' 'base'/}" rel="stylesheet">
<meta charset="utf-8">
<script type="text/javascript" src="{/getfile 'js' 'jquery-1.8.3.min'/}"></script>
<script type="text/javascript" src="{/getfile 'js' 'base'/}"></script>
<title>员工信息查看</title>
</head>


<body>
	<div class="b1" align="center">
    	<center>
        	<font size="+3">积分项目查看</font>
        </center>
    	<div class="w750" align="justify">
        	<div>
            	<a href="{/geturl 'main/newclass' 'main'/}">添加新类型</a>
            </div>
        	<table class="stafflist">
            	<tr><th class="w130">积分类型编号</th><th class="w400">类型名称</th><th>操作</th></tr>
                {/$j = count($classes)/}
                {/if $j > 0/}
                    {/for $i=0; $i<$j; $i++/}
                        {/$class = $classes[$i]/}
                        <tr name="list"> 
                            <td>{/$class['class_id']/}</td>
                            <td>{/$class['class_name']/}</td>
                            <td><a name="limit" href="{/geturl 'main/editclass' 'main'/}?cid={/$class['class_id']/}">编辑</a>|<a name="del" href="{/geturl 'main/delclass' 'main'/}?cid={/$class['class_id']/}">删除</a></td>
                        </tr>
                    {//for/}
                    {/if $pagebar/}<tr><td colspan="3">{/$pagebar/}</td></tr>{//if/}
				{/else/}
                	<tr>
                    	<td colspan="3">还没有积分类型请添加</td>
                    </tr>
                {//if/}
            </table>
        </div>    
    </div>
</body>
</html>