{/include 'common/header.html'/}
	<div class="wk">
    	<div class="xi">
        </div>
        <div class="xi_middle">
       	  {/include 'common/menu.html'/}
          <div class="xi_middle_right">
            	<div class="xi_middle_right_top">部门编辑</div>
                <div class="xi_middle_right_z">
                	<div class="tj">
                    	<a class="ba" href="{/geturl 'main/teamlist' 'main'/}"><div class="rb left hmiddle w110">查看所有部门</div></a>
                        <a class="ba" href="{/geturl 'main/newteam' 'main'/}"><div class="rb left hmiddle w110 ml5">添加新部门</div></a>
                        <a class="ba" href="{/geturl 'main/poslist' 'main'/}"><div class="rb left hmiddle w110 ml5">查看所有职位</div></a>
                        <a class="ba" href="{/geturl 'main/newpos' 'main'/}"><div class="rb left hmiddle w110 ml5">添加新职位</div></a>
                    </div>
            </div>
            <div class="xi_bottom02">{/$pagebar/}
            </div>
          </div>
        </div>
{/include 'common/footer.html'/}