<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{/getfile 'js' 'jquery-1.8.3.min'/}"></script>
<script type="text/javascript" src="{/getfile 'js' 'base'/}"></script>
<script type="text/javascript" src="{/getfile 'js' 'clock/WdatePicker'/}"></script>
<script type="text/javascript" src="{/getfile 'js' 'bootstrap'/}"></script>
<link type="text/css" href="{/getfile 'css' 'bootstrap.min'/}" rel="stylesheet">
<link type="text/css" href="{/getfile 'css' 'bootstrap-theme.min'/}" rel="stylesheet">
<link type="text/css" href="{/getfile 'css' 'style'/}" rel="stylesheet">
<link type="text/css" href="{/getfile 'css' 'base'/}" rel="stylesheet">
<style type="text/css">
    html,body,.div_nr,.word02{background-color: #fff;background-image: none;color:#000;}
</style>
<title>U易管理系统</title>
</head>

<body class="body">
<div class="div_nr">
