<div class="xi_middle_left">
    <div class="xi_middle_left_anniu">
        <a href="{/geturl 'main/addstaff' 'main'/}"><img src="{/getpicurl 'anniu01_03' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
        <a href="{/geturl 'main/scoretable' 'main'/}"><img src="{/getpicurl 'btn_jfbb' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
    	<a href="{/geturl 'main/stafflist' 'main'/}"><img src="{/getpicurl 'anniu02_03' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
    	<a href="{/geturl 'main/score' 'main'/}"><img src="{/getpicurl 'annniu03_03' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
        <a href="{/geturl 'main/scoreclasslist' 'main'/}"><img src="{/getpicurl 'annniu04_03' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
        <a href="{/geturl 'main/scorelist' 'main'/}"><img src="{/getpicurl 'annniu05_03' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_anniu">
        <a href="{/geturl 'main/teamabout' 'main'/}"><img src="{/getpicurl 'team' 'jpg' 'bg'/}" width="169" height="43" /></a>
    </div>
    <div class="xi_middle_left_ss">
    	<form name="searchkey" action="{/geturl 'main/search' 'main'/}" method="get">
            <input name="keywords" type="text" class="xi_middle_left_ss_k" />
            <div class="xi_middle_left_ss_an">
                <a href="#" id="searchStaff"><img src="{/getpicurl 'ss_anniu_03' 'jpg' 'bg'/}" width="28" height="26" /></a>
            </div>
        </form>
    </div>
</div>